.crear{
    top: 35px;
    left: 90%;
    position: absolute;
    margin: auto;
}
.titulo{
    top: 25px;
    left: 1%;
    position: absolute; 
    color: white;

}
.N{
    background-color: black;
}
.tabla{
    position: relative;
    top: 130px;
    margin: auto;
}
.centrar{
  position: absolute;
  top: 40%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
    
    
}
